.sidebar {
    background: rgb(61, 68, 86);
    padding: 7px;
}

p.author__bio {
    font-size: 12px;
}

.author__urls-wrapper {
    font-size: 16px;
}

h3.author__name {
    font-weight: 100;
}

li.masthead__menu-item {
    font-weight: 100;
    letter-spacing: 5px;
    text-transform: lowercase;
}

.greedy-nav a.site-title {
    display: block;
    margin: 0 1rem;
    padding: 0.5rem 0;
    color: #eaeaea;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 5px;
}

p.page__meta {
    color: #a9a9a9;
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 6px !important;
    padding: 0 10px !important;
}

p.archive__item-excerpt {
    padding: 0 10px;
}

h3.archive__subtitle {
    font-weight: 100;
    text-align: right;
    text-transform: lowercase;
    letter-spacing: 3px;
    color: #a9a9a9;
}

h2.archive__item-title {
    text-transform: capitalize;
    font-weight: 200;
    background: rgb(44, 49, 62);
    padding: 5px 10px;
}

ul.social-icons li a {
    font-weight: 100;
}

.page__footer-follow strong {
    font-weight: 600;
}
